body {
  background-color: darkgrey
}

h1 {
  color: white;
  text-align: center;
  font-family: helvectica, sans-serif;
  background-image: linear-gradient(to bottom right, blue, green);
}

p {
  font-family: helvectica, sans-serif;
  font-size: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: helvectica, sans-serif;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
