body {
  background-color: darkgrey
}

h1 {
  color: white;
  text-align: center;
  font-family: helvectica, sans-serif;
  background-image: linear-gradient(to bottom right, blue, green);
}

p {
  font-family: helvectica, sans-serif;
  font-size: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: helvectica, sans-serif;
}

a.normal {
  font-family: helvectica, sans-serif;
}

/* Change the link color to #111 (black) on hover */
a:hover {
  background-color: #111;
}
